.tableSectionMenuContainer {
    display: flex;
    flex-direction: column;
}
.tableMenu {
    height: 100%;
}
.tableMenuContainer {
    background-color: var(--primary-color);
    padding: 10px;
    height: 100%;
}
table {
    border-collapse: collapse;
    height: 90%;
    width: 100%;
}
tbody {
    border: 5px solid var(--secondary-color);
}
.table1 {
    border-bottom: 3px solid var(--secondary-color); 
    border-left: 3px solid var(--secondary-color);
}
.table2{
    border-bottom: 3px solid var(--secondary-color); 
    border-top: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
}
.table3 {
    border-bottom: 3px solid var(--secondary-color); 
    border-top: 3px solid var(--secondary-color);
    border-left: 3px solid var(--secondary-color);
}
.table4 { 
    border-top: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
}
td {
    border: 1px solid var(--secondary-color);
    padding: 8px;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--police-Raleway-Regular);
    font-size: 0.8em;
}
td ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-position: inside;
}
.imageMenu img {
    height: 100%;
    width: 100%;
}
.menuContainer h1 {
    font-size: var(--title-size);
    color: rgb(214, 61, 5);
    margin: 30px 0 20px 0;
    text-align: center;
}