@charset "UTF-8";
/* Les dossier _.scss sont fait pour des imports  après dans test.scss on fait @use "liste"*/
ul {
  background-color: cornflowerblue;
  /* on peut mettre autant de variables que l'on veut*/
  /*
      @for permet de faire une boucle, allant d'une certaine valeur à une autre.
      lengh() permet de récupérer la taille d'une liste.
  */
  /* La liste allant jusqu'à 5 (truc1 ...), la liste va de 0 à 4*/
  /* La liste allant jusqu'à 5 (truc1 ...), la liste va de 0 à 4*/
  /* La liste allant jusqu'à 5 (truc1 ...), la liste va de 0 à 4*/
  /* La liste allant jusqu'à 5 (truc1 ...), la liste va de 0 à 4*/
  /* La liste allant jusqu'à 5 (truc1 ...), la liste va de 0 à 4*/
}
ul .truc1 { /* (sert comme un prompt)  ici dans ma liste li je veut l'élément qui vaut li + 1, quand 0 on récupère élément truc1 car 0 + 1 */
  font-size: 30px;
}
ul .truc2 { /* (sert comme un prompt)  ici dans ma liste li je veut l'élément qui vaut li + 1, quand 0 on récupère élément truc1 car 0 + 1 */
  font-size: 40px;
}
ul .truc3 { /* (sert comme un prompt)  ici dans ma liste li je veut l'élément qui vaut li + 1, quand 0 on récupère élément truc1 car 0 + 1 */
  font-size: 50px;
}
ul .truc4 { /* (sert comme un prompt)  ici dans ma liste li je veut l'élément qui vaut li + 1, quand 0 on récupère élément truc1 car 0 + 1 */
  font-size: 60px;
}
ul .truc5 { /* (sert comme un prompt)  ici dans ma liste li je veut l'élément qui vaut li + 1, quand 0 on récupère élément truc1 car 0 + 1 */
  font-size: 70px;
}

h1 {
  color: red;
  font-style: italic;
}

h2 {
  color: gray;
}

/* Le nesting permet d'inclure un sélecteur CSS dans un autre */
section.sass {
  background-color: aquamarine;
}
section.sass h2 {
  background-color: brown;
  color: chartreuse;
}
section.sass h2:hover {
  scale: 1.5;
}

/*
    Avant même que les variables CSS existent, SASS avait ses propres variables. 
    Elles doivent commencer par un $
*/
.sss, header {
  background-color: violet;
}

/*
    extends permet de reprendre un morceau de CSS, et de le réutiliser à plusieurs endroits. 
    Ils commencent par un "%" suivi d'un nom. 
*/
main ul, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
    Pour utiliser mon "extends", j'utiliserais "@extend" suivi du nom de celui-ci.
*/
/*
    Les mixins ressemblent aux extends, à la différence, qu'ils peuvent prendre, des paramètres.
    Pour les déclarer, on utilisera : 
    @mixin unNom(paramètre 1, paramètre 2...){contenu de la mixin}
*/
/* Pour utiliser une mixin, on utilisera "@include" suivi du nom de la mixin, de parenthèse contenant les différents paramètres obligatoires. */
.copy {
  font-size: 4rem;
  background-color: mediumpurple;
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.menu {
  font-size: 3rem;
  background-color: dodgerblue;
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-50%, 100%);
}

/*
    Certaines fonctions sont directement disponible dans SASS, mais on peut aussi créer les notres à la différence d'une mixin, elle n'affichera pas de css, mais retournera une valeur.
*/
.copy {
  color: #1affff;
}

.copy {
  width: 5rem;
  height: 5rem;
  /*
      Avec SASS, nous pouvons conditionner certaines valeurs, par exemple ici, nous allons dire, que "si" la hauteur et la largeur sont les mêmes, alors nous allons effectuer une action, "sinon" on en fera une autre.
  */
  border-radius: 50%;
}

.menu {
  width: 10rem;
  height: 5rem;
  /*
      Avec SASS, nous pouvons conditionner certaines valeurs, par exemple ici, nous allons dire, que "si" la hauteur et la largeur sont les mêmes, alors nous allons effectuer une action, "sinon" on en fera une autre.
  */
  border-radius: 5px;
}

/*# sourceMappingURL=test.css.map */
