*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fond: "";
}
body {
    background-color: var(--fond);
}
.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div2 label {
    margin-top: 60px;
}
.greenTheme {
    background-color: green;
}
.orangeTheme {
    background-color: orange;
}
.blueTheme {
    background-color: blue;
}
.langueh1 {
    font-size: 20px;
    color: red;
}