*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.feuDeCirculation {
    background-color: gray;
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}
.cercle{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 1px solid black;
}
.poteau {
    width: 60px;
    height: 500px;
    background-color: gray;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.voiture {
    width: 200px;
    height: 20px;
}